<ul>
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    <li>
      {{ if eq .Name "categories" }}
      <a href="#" class="menu-link">{{ .Name }}</a>
        <ul>
          {{- range $name, $taxonomy := $.Site.Taxonomies.categories -}}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li><a href="{{- .URL -}}" class="menu-link {{ if eq $currentPage.URL .URL }}active{{ end }}">{{ $name }}({{ $taxonomy.Count }})</li></a>
            {{- end }}
          {{ end }}
        </ul>
      {{ else }}
      <a href="{{ .URL }}" class="menu-link {{ if eq $currentPage.URL .URL }}active{{ end }}">{{ .Name }}</a>
      {{ end }}
    </li>
  {{ end }}
</ul>
