{{- $paginator := .Paginate (where .Pages "Type" "posts") 20 -}}
<div id="postgrid-container">
        <ul id = "postgrid">
            {{- range $paginator.Pages -}}
                <li>
                <a class="postgrid-cell" href="{{- .URL -}}">
                    <div class="postgrid-img-container">
                        <img src="/{{- .Params.Image -}}" width="300" height="169" alt="post-thumb" />
                    </div>
                    <div class="postgrid-text-container">
                        <span class="postgrid-text">{{- .Title -}}</span>
                    </div>
                </a>
            </li>
            {{- end -}}
        </ul>
    </div>