@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans&display=swap');
body {
  font-family: 'IBM Plex Mono', monospace;
  color: #333333;
  background-color: #E5E5E5;
  font-size: 1em;
  display: block;
  text-align: left;
}
/* 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
} */

#page-container {
  margin: 3em 3em;
  max-width: 60em;
}

/*Header, description, social*/
.site-header {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}

.site-description {
  margin: 1em 0em;
  color: #666
}

.social-nav {
  font-size: 1.5em;
}
/****************************/


/*Bottom of page*/
.site-footer {
  padding-top: 2em;
  font-size: 0.75em;
  clear: both;
}

.site-footer hr {
  max-width: 160px;
  margin: 0;
  font-size: 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0));
}

#back-to-top {
  display: none;
}
/****************/


/*Content pages     */
img[src*="#right"] {
  float: right;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 fix */
}

#site-nav-container {
  margin: 1em 0;
}

.site-nav-border, .site-nav-border-up {
  max-width: 320px;
  margin: 0;
  font-size: 0;

  border: 0; 
  height: 1px;

  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0));
  /* transform: scaleY(0.5); */
}

.site-nav-border-up {
  margin-top: -8px;
}

.site-nav {
  display: block;
  margin: 1em 0 0.5em;
  background: linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229,229,229,0.75));
  border:0;
  z-index: 10;
  padding: 0;
  cursor: default;

}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.site-nav ul li {
  position: relative;
  display: inline-block;
  /* letter-spacing: 1px; */
  margin: 0;
  /* line-height: 1em; */
  padding-bottom: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

.site-nav ul ul { 
  background-color: rgba(51,51,51,0.9);
  display: none;
  position: absolute;
  top: 2em;
  width: auto; 
  /* padding: 7px 0; */
  z-index: 999;
}

.site-nav ul li:hover > ul {
  display: block;
}


.site-nav ul ul li {   
  display: block;
  padding: 0 7px;
  width: 100%;
}

.site-nav ul ul li {
  color: rgb(255, 251, 0);
  line-height: 2em;
}

.menu-link.active {
  font-weight: bold;
  background-color: #26baff;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 600px;
  height:auto;
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}
  
.video-container::after {
  padding-top: 56.25%; /* 16:9 ratio [(9/16)*100] */
  display: block;
  content: '';
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

a {
  text-decoration: none;
	color: inherit;
	-moz-transition-property: background;
	-webkit-transition-property: background;
	transition-property: background;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
} 

a:not(.menu-link):not(.social-link) {
  font-weight: bold;
}

a:not(.active):hover {
  font-style: italic; 
}

a:hover{
  color: #26baff;
}

a[href^="https://"]:not(.social-link):after {
  position: relative;
  content: "\FEFF°";
  margin-left: 0.10em;
  font-size: 80%;
  top: -0.30em;
  left: -0.1em;
}

a[href^="http://"]:not(.social-link):after {
  position: relative;
  content: "\FEFF°";
  margin-left: 0.10em;
  font-size: 80%;
  top: -0.30em;
  left: -0.1em;
}

#postgrid-container {
  display: block;
  margin: 0;
}

#postgrid {
  margin: 0;
  margin-left: -2.5%;
  padding: 0;
  list-style: none;
  position: relative;
}

#postgrid li {
  display: inline-block;
  position: relative;
  margin: 0 0 2.5% 2.5%;
  width: 30.83333333%;
  vertical-align: top;
  border: 0;
  padding: 0;

  overflow: visible;
}

#postgrid li img {
  width: 100%;
  height: auto;
  position: relative;
  border: 0;
  opacity: 1;
  -webkit-transition: opacity .05s;
  -moz-transition: opacity .05s;
  transition: opacity .05s;
}

.postgrid-text-container {
  display: block;
  position: relative;
  width: 100%;
  height: 2.4em;
  overflow: hidden;
  font-size: 0.8em;
  line-height: 1.2em;
  background-color:#eeeeee;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.postgrid-text {
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#postgrid li:hover .postgrid-text-container {
  transform-origin: 0% 0%;
  opacity:1;
  transform: skewX(-2deg);
}

#postgrid li:hover img {
  transform-origin: 100% 100%;
  transform: skewX(-2deg);
  opacity: 0.75;
}

.postgrid-img-container {
  line-height: 0;
}
.postgrid-cell {
  display: block;
  position: relative;
  overflow: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}



/* #post-content h1 h2 h3 h4 h5 h6 {
  font-size: 0.5em;
  
} */

/* // internal link style
a:link, a:link[href^="http://www.mydomain.com"] {
    background-color: #009900;
    color: #000000;
} */

/*
  * Media queries
*/

@media (max-width: 48em) {
  .video-container {
    max-width: 100%;
  }

  #postgrid li {
    width: 47.5%;
  }
}

@media (max-width: 32em) {

  #postgrid li {
    width: 97.5%;
  }

  #post-content img {
    float: none;
  }

  #back-to-top {
    display: block;
  }

  /* .site-nav-border {
    display: none;
  } */

}
